<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <title>Create New User</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/cosmo/bootstrap.min.css" />
    <script src= "https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" ></script>
</head>
<body>
<div align="center">
    <h1>Create New User</h1>
    <br />
     <div class="col-sm-4">
    <form action="#" th:action="@{/save}" th:object="${user}" method="post">

      
      <div alight="left">
            <tr>
                <label class="form-label" >Name of the User</label>
                <td>
	                <input type="text" th:field="*{userid}" class="form-control" placeholder="User Id" required/>	               
                </td>
            </tr>
         </div>
 		<div alight="left">
            <tr>
                <label class="form-label" >Name of the User</label>
                <td>
	                <input type="text" th:field="*{name}" class="form-control" placeholder="Name of the User" required />
                </td>
            </tr>
         </div>   
            
          	<div alight="left">
          
            <tr>
                 <label class="form-label" >Email Id</label>
                <td><input type="email" th:field="*{emailid}" class="form-control" placeholder="Email Id" required /></td>
            </tr>
            </div> 
            <div alight="left">
                 <tr>
                 <label class="form-label" >Mobile Number</label>
                <td><input type="text" th:field="*{mobile}" class="form-control" placeholder="Mobile Number" required /></td>
            </tr>
            </div> 
            <div alight="left">
                 <tr>
                 <label class="form-label" >Secondary Mobile Number</label>
                <td><input type="text" th:field="*{smobile}" class="form-control" placeholder="Secondary Mobile Number" /></td>
            </tr>
            </div> 
            <div alight="left">
                 <tr>
                 <label class="form-label" >Date of birth (DD-MM-YYYY)</label>
                <td><input type="text" th:field="*{dob}" class="form-control" placeholder="Date of birth (DD-MM-YYYY)" required /></td>
            </tr>
            <div alight="left">
                 <tr>
                 <label class="form-label" >Gender (M/F)</label>
                <td><input type="text" th:field="*{gender}" class="form-control" placeholder="Gender (M/F)" required /></td>
            </tr>
            </div> 
			<br>
            <tr>
            <td colspan="2"><button type="submit" class="btn btn-info">Save</button> </td>
            </tr>
        </table>
    </form>
</div>
</body>
</html>